<footer class="main-footer background-white2">
			<div class="main-footer__top">
				<div class="container">
					<div class="row gutter-y-30">
						<div class="col-md-12 col-xl-3 wow fadeInUp" data-wow-duration="1500ms" data-wow-delay="00ms">
							<div class="footer-widget footer-widget--about">
								<a href="/" class="footer-widget__logo">
									<img src="assets/image/logo.png" width="90" alt="">
								</a>
								<p class="footer-widget__about-text">Anti-Corruption Foundation of World is
									non-government, non-profitable, voluntary organization</p>
							</div><!-- /.footer-widget -->
							<a href="https://www.google.com/maps/embed?pb=!1m23!1m12!1m3!1d112017.2248239003!2d77.32396723041731!3d28.673540674578422!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!4m8!3e6!4m0!4m5!1s0x390cf0437a9dd911%3A0xa7052bc649f79007!2sGhaziabad%20(UP)-201009%20Nearest%20Metro%20Station%3A%20Hindon%20River!3m2!1d28.673415!2d77.40637!5e0!3m2!1sen!2sin!4v1737379588895!5m2!1sen!2sin"
								class="footer-widget__map">
								<span class="footer-widget__map__text">View Map</span>
								<span class="icon-paper-plane"></span>
							</a>
						</div><!-- /.col-md-12 col-xl-3 -->
						
						<div class="col-md-3 wow fadeInUp" data-wow-duration="1500ms" data-wow-delay="400ms">
							<div class="footer-widget footer-widget--links">
								<h2 class="footer-widget__title">Quick Links</h2><!-- /.footer-widget__title -->
								<ul class="list-unstyled footer-widget__links">
									<li><a href="/about">About Us</a></li>
									<li><a href="/service">Services</a></li>
									<li><a href="/about_director">Chairman Message</a></li>
									<li><a href="/gallery">Galley</a></li>
									<li><a href="/legal">Legal Certificate</a></li>
									<li><a href="/case_resolved"> Case Resolved</a></li>
								</ul>
							</div>
						</div>
						<div class="col-md-4 col-xl-3 wow fadeInUp" data-wow-duration="1500ms" data-wow-delay="600ms">
							<div class="footer-widget footer-widget--gallery">
								<h2 class="footer-widget__title">Quick Links</h2>
								<ul class="list-unstyled footer-widget__links">
									
									<li><a href="/complain">Public Complain</a></li>
									<li><a href="/contact">Contact Us</a></li>
									
									<li><a href="/login">Login</a></li>
								</ul>
							</div>
						</div>
						<div class="col-xl-3 col-md-5 wow fadeInUp" data-wow-duration="1500ms" data-wow-delay="200ms">
							<div class="footer-widget footer-widget--contact">
								<h2 class="footer-widget__title">Get in touch!</h2><!-- /.footer-widget__title -->
								<ul class="list-unstyled footer-widget__info">
									<li> <span class="icon-location"></span>
										<address>House No. 2884, UP Awas Vikas Colony,
											Block-87, Sec-09, SiddharthVihar, Ghaziabad (UP)-201009
											Nearest Metro Station: Hindon River
										</address>
									</li>
									<li> <span class="icon-phone"></span><a href="tel:8102522076">8102522076</a>
									</li>
									<li> <span class="icon-phone"></span><a href="tel:9304081652">9304081652</a>
									</li>
									<li> <span class="icon-envelope"></span><a
											href="mailto:info@acfw.in">info@acfw.in</a></li>
								</ul>
							</div>
						</div>
					</div>
				</div>
				<div class="main-footer__top__shape-box">
					<img src="assets/images/shapes/footer-shape-hand-1-1.png" alt="hand"
						class="main-footer__top__shape-one">
					<img src="assets/images/shapes/footer-shape-hand-1-2.png" alt="hand"
						class="main-footer__top__shape-two">
				</div>
			</div>
			<div class="main-footer__bottom">
				<div class="main-footer__bottom__bg"
					style="background: url('assets/images/backgrounds/footer-bottom-bg-1-2.png');"></div>
				
				<div class="container">
					<div class="main-footer__bottom__inner">
						<p class="main-footer__copyright">
							&copy; Copyright <span class="dynamic-year"></span> ANTI CORRUPTION FOUNDATION OF WORLD
							All
							Rights Reserved. Designed by <a href="https://www.infoerasoftware.com/"
								target="_blank"><u>Info Era Software Services Pvt. Ltd.</u></a>
						</p>
					</div>
				</div>
			</div>
		</footer>
	</div>
	<a href="#" data-target="html" class="scroll-to-target scroll-to-top">
		<span class="scroll-to-top__text">back top</span>
		<span class="scroll-to-top__wrapper"><span class="scroll-to-top__inner"></span></span>
	</a>