<footer class="main-footer background-white2">
			<div class="main-footer__top">
				<div class="container">
					<div class="row gutter-y-30">
						<div class="col-md-12 col-xl-3 wow fadeInUp" data-wow-duration="1500ms" data-wow-delay="00ms">
							<div class="footer-widget footer-widget--about">
								<a href="/" class="footer-widget__logo">
									<img src="assets/image/logo.png" width="90" alt="">
								</a>
								<p class="footer-widget__about-text">Anti-Corruption Foundation of World is
									non-government, non-profitable, voluntary organization</p>
							</div><!-- /.footer-widget -->
							<a href="https://www.google.com/maps/@23.506657,90.3443647,7z?entry=ttu"
								class="footer-widget__map">
								<span class="footer-widget__map__text">View Map</span>
								<span class="icon-paper-plane"></span>
							</a>
						</div><!-- /.col-md-12 col-xl-3 -->
						<div class="col-xl-3 col-md-5 wow fadeInUp" data-wow-duration="1500ms" data-wow-delay="200ms">
							<div class="footer-widget footer-widget--contact">
								<h2 class="footer-widget__title">Get in touch!</h2><!-- /.footer-widget__title -->
								<ul class="list-unstyled footer-widget__info">
									<li> <span class="icon-location"></span>
										<address>House No. 2884, UP Awas Vikas Colony,
											Block-87, Sec-09, SiddharthVihar, Ghaziabad (UP)-201009
											Nearest Metro Station: Hindon River
										</address>
									</li>
									<li> <span class="icon-phone"></span><a href="tel:8102522076">8102522076</a>
									</li>
									<li> <span class="icon-phone"></span><a href="tel:9304081652">9304081652</a>
									</li>
									<li> <span class="icon-envelope"></span><a
											href="mailto:info@acfw.in">info@acfw.in</a></li>
								</ul><!-- /.list-unstyled -->
							</div><!-- /.footer-widget -->
						</div><!-- /.col-xl-3 col-md-5 -->
						<div class="col-md-3 wow fadeInUp" data-wow-duration="1500ms" data-wow-delay="400ms">
							<div class="footer-widget footer-widget--links">
								<h2 class="footer-widget__title">Quick Links</h2><!-- /.footer-widget__title -->
								<ul class="list-unstyled footer-widget__links">
									<li><a href="about.html">About Us</a></li>
									<li><a href="service.html">Services</a></li>
									<li><a href="complain.html">Public Complain</a></li>
									<li><a href="become-a-volunteer.html">Become a Volunteer</a></li>
									<li><a href="contact.html">Contact Us</a></li>
									<li><a href="login.html">Login</a></li>
								</ul><!-- /.list-unstyled footer-widget__links -->
							</div><!-- /.footer-widget -->
						</div><!-- /.col-md-3 -->
						<div class="col-md-4 col-xl-3 wow fadeInUp" data-wow-duration="1500ms" data-wow-delay="600ms">
							<div class="footer-widget footer-widget--gallery">
								<h2 class="footer-widget__title">Our Gallery</h2><!-- /.footer-widget__title -->
								<div class="footer-widget__gallery">
									<a href="gallery.html" class="footer-widget__gallery__link">
										<img src="assets/images/gallery/footer-widget-gallery-img-1.jpg"
											alt="footer-widget-gallery">
										<span class="footer-widget__gallery__icon icon-plus"></span>
									</a><!-- /.footer-widget__gallery__link -->
									<a href="gallery.html" class="footer-widget__gallery__link">
										<img src="assets/images/gallery/footer-widget-gallery-img-2.jpg"
											alt="footer-widget-gallery">
										<span class="footer-widget__gallery__icon icon-plus"></span>
									</a><!-- /.footer-widget__gallery__link -->
									<a href="gallery.html" class="footer-widget__gallery__link">
										<img src="assets/images/gallery/footer-widget-gallery-img-3.jpg"
											alt="footer-widget-gallery">
										<span class="footer-widget__gallery__icon icon-plus"></span>
									</a><!-- /.footer-widget__gallery__link -->
									<a href="gallery.html" class="footer-widget__gallery__link">
										<img src="assets/images/gallery/footer-widget-gallery-img-4.jpg"
											alt="footer-widget-gallery">
										<span class="footer-widget__gallery__icon icon-plus"></span>
									</a><!-- /.footer-widget__gallery__link -->
									<a href="gallery.html" class="footer-widget__gallery__link">
										<img src="assets/images/gallery/footer-widget-gallery-img-5.jpg"
											alt="footer-widget-gallery">
										<span class="footer-widget__gallery__icon icon-plus"></span>
									</a><!-- /.footer-widget__gallery__link -->
									<a href="gallery.html" class="footer-widget__gallery__link">
										<img src="assets/images/gallery/footer-widget-gallery-img-6.jpg"
											alt="footer-widget-gallery">
										<span class="footer-widget__gallery__icon icon-plus"></span>
									</a><!-- /.footer-widget__gallery__link -->
								</div><!-- /.footer-widget__gallery -->
							</div><!-- /.footer-widget -->
						</div><!-- /.col-md-4 col-xl-3 -->
					</div><!-- /.row -->
				</div><!-- /.container -->
				<div class="main-footer__top__shape-box">
					<img src="assets/images/shapes/footer-shape-hand-1-1.png" alt="hand"
						class="main-footer__top__shape-one">
					<img src="assets/images/shapes/footer-shape-hand-1-2.png" alt="hand"
						class="main-footer__top__shape-two">
				</div><!-- /.main-footer__top__shape-box -->
			</div><!-- /.main-footer__top -->
			<div class="main-footer__bottom">
				<div class="main-footer__bottom__bg"
					style="background: url('assets/images/backgrounds/footer-bottom-bg-1-2.png');"></div>
				<!-- /.main-footer__bottom-bg -->
				<div class="container">
					<div class="main-footer__bottom__inner">
						<p class="main-footer__copyright">
							&copy; Copyright <span class="dynamic-year"></span> ANTI CORRUPTION FOUNDATION OF WORLD
							All
							Rights Reserved. Designed by <a href="https://www.infoerasoftware.com/"
								target="_blank"><u>Info Era Software Services Pvt. Ltd.</u></a>
						</p>
					</div><!-- /.main-footer__inner -->
				</div><!-- /.container -->
			</div><!-- /.main-footer__bottom -->
		</footer><!-- /.main-footer -->


	</div><!-- /.page-wrapper -->

	
	

	<a href="#" data-target="html" class="scroll-to-target scroll-to-top">
		<span class="scroll-to-top__text">back top</span>
		<span class="scroll-to-top__wrapper"><span class="scroll-to-top__inner"></span></span>
	</a>