<div class="custom-cursor__cursor"></div>
	<div class="custom-cursor__cursor-two"></div>


	<div class="page-wrapper">
		<div class="topbar-one">
			<div class="container">
				<div class="topbar-one__inner">
					<ul class="list-unstyled topbar-one__info">
						<li class="topbar-one__info__item">
							<span class="topbar-one__info__icon icon-envelope"></span>
							<a href="mailto:info@acfw.in">info@acfw.in</a>
						</li>
						<li class="topbar-one__info__item">
							<span class="topbar-one__info__icon icon-phone"></span>Helpline no :
							8235669444
						</li>
					</ul><!-- /.list-unstyled topbar-one__info -->
					<div class="topbar-one__right">
						<div class="social-link topbar-one__social">
							<a href="https://www.facebook.com/anticorruptionfoundationofworld/" target="_blank">
								<i class="fab fa-facebook-f" aria-hidden="true"></i>
								<span class="sr-only">Facebook</span>
							</a>
							<a href="https://twitter.com/">
								<i class="fab fa-twitter" aria-hidden="true"></i>
								<span class="sr-only">Twitter</span>
							</a>
							<a href="https://linkedin.com/" aria-hidden="true">
								<i class="fab fa-linkedin-in"></i>
								<span class="sr-only">Linkedin</span>
							</a>
							<a href="https://youtube.com/" aria-hidden="true">
								<i class="fab fa-youtube"></i>
								<span class="sr-only">Youtube</span>
							</a>
						</div><!-- /.topbar-one__social -->
					</div><!-- /.topbar-one__right -->
				</div><!-- /.topbar-one__inner -->
			</div><!-- /.container -->
		</div><!-- /.topbar-one -->

		<header class="main-header sticky-header sticky-header--normal">
			<div class="container">
				<div class="main-header__inner">
					<div class="main-header__logo">
						<a href="/">
							<img src="assets/image/logo.png" alt="" width="109">
						</a>
					</div><!-- /.main-header__logo -->
					<div class="main-header__right">
						<nav class="main-header__nav main-menu">
							<ul class="main-menu__list">
								<li><a href="/"><i class="topbar-one__info__icon icon-home"></i>Home</a> </li>
								<li class="dropdown">
									<a href="#">About</a>
									<ul>
										<li><a href="about">About Us</a></li>
										<li><a href="about_director">About Chairman</a></li>
									</ul>
								</li>
								<li>
									<a href="service">Services</a>
								</li>
								<li class="dropdown">
									<a href="#">Media</a>
									<ul>
										<li><a href="gallery">Gallery</a></li>
										<li><a href="News&Event">News & Event</a></li>
									</ul>
								</li>
								<li class="dropdown">
									<a href="#">Members</a>
									<ul>
										<li><a href="Online_Membership">Membership Form</a></li>
										<li><a href="National_List">National list</a></li>
										<li><a href="State_List">State List</a></li>
										<li><a href="dist_list">Dist List</a></li>
										<li><a href="Block_List">Block List</a></li>
									</ul>
								</li>
								<li>
									<a href="complain">Public Complain</a>

								</li>
								<li>
									<a href="case_resolved">Case Resolved</a>
								</li>
								<li>
									<a href="legal">Legal</a>
								</li>

								<li>
									<a href="contact">Contact Us</a>
								</li>


							</ul>


						</nav><!-- /.main-header__nav -->
						<div class="mobile-nav__btn mobile-nav__toggler">
							<span></span>
							<span></span>
							<span></span>
						</div><!-- /.mobile-nav__toggler -->

						</a><!-- /.thm-btn main-header__btn -->
					</div><!-- /.main-header__right -->
				</div><!-- /.main-header__inner -->
			</div><!-- /.container -->
		</header><!-- /.main-header -->
    <div class="mobile-nav__wrapper">
		<div class="mobile-nav__overlay mobile-nav__toggler"></div>
		<!-- /.mobile-nav__overlay -->
		<div class="mobile-nav__content">
			<span class="mobile-nav__close mobile-nav__toggler"><i class="fa fa-times"></i></span>

			<div class="logo-box">
				<a href="/" aria-label="logo image"><img src="assets/image/logo.png" width="105" alt="" /></a>
			</div>
			<!-- /.logo-box -->
			<div class="mobile-nav__container"></div>
			<!-- /.mobile-nav__container -->

			<ul class="mobile-nav__contact list-unstyled">
				<li>
					<i class="fa fa-envelope"></i>
					<a href="mailto:info@acfw.in">info@acfw.in</a>
				</li>
				<li>
					<i class="fa fa-phone-alt"></i>
					<a href="tel:9304081652">9304081652</a>
				</li>
			</ul><!-- /.mobile-nav__contact -->
			<div class="mobile-nav__social">
				<a href="https://www.facebook.com/anticorruptionfoundationofworld/" target="_blank">
					<i class="fab fa-facebook-f" aria-hidden="true"></i>
					<span class="sr-only">Facebook</span>
				</a>
				<a href="https://twitter.com/">
					<i class="fab fa-twitter" aria-hidden="true"></i>
					<span class="sr-only">Twitter</span>
				</a>
				<a href="https://linkedin.com/" aria-hidden="true">
					<i class="fab fa-linkedin-in"></i>
					<span class="sr-only">Linkedin</span>
				</a>
				<a href="https://youtube.com/" aria-hidden="true">
					<i class="fab fa-youtube"></i>
					<span class="sr-only">Youtube</span>
				</a>
			</div><!-- /.mobile-nav__social -->
		</div>
		<!-- /.mobile-nav__content -->
	</div>
        