<!DOCTYPE html>

<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
    
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
          <title>ANTI CORRUPTION FOUNDATION OF WORLD</title>
	<!-- favicons Icons -->
	<link rel="apple-touch-icon" sizes="180x180" href="assets/image/logo.png" />
	<link rel="icon" type="image/png" sizes="32x32" href="assets/image/logo.png" />
	<link rel="icon" type="image/png" sizes="16x16" href="assets/image/logo.png" />
	<link rel="manifest" href="assets/images/favicons/site.webmanifest" />
	<meta name="description" content=" " />

	<!-- fonts -->
	<link rel="preconnect" href="https://fonts.googleapis.com/">
	<link rel="preconnect" href="https://fonts.gstatic.com/" crossorigin>
	<link
		href="https://fonts.googleapis.com/css2?family=DM+Sans:opsz,wght@9..40,400;9..40,500;9..40,600;9..40,700;9..40,800&amp;display=swap"
		rel="stylesheet">
	<link href="https://fonts.googleapis.com/css2?family=Quicksand:wght@500;600;700&amp;display=swap" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css2?family=Castoro&amp;display=swap" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css2?family=Schoolbell&amp;display=swap" rel="stylesheet">


	<link rel="stylesheet" href="/assets/vendors/bootstrap/css/bootstrap.min.css" />
	<link rel="stylesheet" href="/assets/vendors/bootstrap-select/bootstrap-select.min.css" />
	<link rel="stylesheet" href="/assets/vendors/animate/animate.min.css" />
	<link rel="stylesheet" href="/assets/vendors/fontawesome/css/all.min.css" />
	<link rel="stylesheet" href="/assets/vendors/jquery-ui/jquery-ui.css" />
	<link rel="stylesheet" href="/assets/vendors/jarallax/jarallax.css" />
	<link rel="stylesheet" href="/assets/vendors/jquery-magnific-popup/jquery.magnific-popup.css" />
	<link rel="stylesheet" href="/assets/vendors/nouislider/nouislider.min.css" />
	<link rel="stylesheet" href="/assets/vendors/nouislider/nouislider.pips.css" />
	<link rel="stylesheet" href="/assets/vendors/tiny-slider/tiny-slider.css" />
	<link rel="stylesheet" href="/assets/vendors/cleenhearts-icons/style.css" />
	<link rel="stylesheet" href="/assets/vendors/swiper/css/swiper-bundle.min.css" />
	<link rel="stylesheet" href="/assets/vendors/owl-carousel/css/owl.carousel.min.css" />
	<link rel="stylesheet" href="/assets/vendors/owl-carousel/css/owl.theme.default.min.css" />

	<!-- template styles -->
	<link rel="stylesheet" href="/assets/css/cleenhearts.css" />
</head>
{{>header}}
    <body>

 <section class="page-header @@extraClassName">
            <div class="page-header__bg"
                style="background-image: url('/assets/images/banner/aboutbanner1.png');"></div>
            <!-- /.page-header__bg -->
            <div class="container">
                <h2 class="page-header__title">About us</h2>
                <ul class="cleenhearts-breadcrumb list-unstyled">
                    <li><i class="icon-home"></i> <a href="/">Home</a></li>
                    <li><span>About Us</span></li>
                </ul>
            </div>
        </section>

        <section class="about-one @@extraClassName section-space">
            <div class="about-one__bg">
                <div class="about-one__bg__border"></div>
                <div class="about-one__bg__inner"
                    style="background-image: url('assets/images/shapes/about-shape-1-1.png');"></div>
            </div>
            <div class="container">
                <div class="row gutter-y-50">
                    <div class="col-xl-6 wow fadeInLeft" data-wow-delay="00ms" data-wow-duration="1500ms">
                        <div class="about-one__left">
                            <div class="about-one__image">
                                <img src="/assets/images/abiut/about.jpg" alt="about" class="about-one__image__one">


                            </div><!-- /.about-one__image -->
                        </div><!-- /.about-one__left -->
                    </div>
                    <div class="col-xl-6">
                        <div class="about-one__content">
                            <div class="sec-title">

                                <h6 class="sec-title__tagline @@extraClassName">ABOUT Us</h6>
                                <!-- /.sec-title__tagline -->

                                <h3 class="sec-title__title">Helping Each Other can Make World <span
                                        class="sec-title__title__inner">Better</span></h3><!-- /.sec-title__title -->
                            </div><!-- /.sec-title -->
                            <div class="about-one__text-box wow fadeInUp" data-wow-delay="00ms"
                                data-wow-duration="1500ms">
                                <!-- /.about-one__text-box__image -->
                                <p class="about-one__text">There is sharp contrast in India. On one hand, there is
                                    affluence, abundance of money, corruption and luxurious life and on other hand,
                                    there is poverty, unemployment, exploited society and underprivileged people. In
                                    this scenario of the society, Mr. Ravindra Kumar, a social activist took oath to
                                    found this institution to awakening the people who are unknown about their rights
                                    and help them round the clock tirelessly as far as possible.
                                    <br><br> Anti-Corruption Foundation of World is non-government, non-profitable,
                                    voluntary organization registered under the Indian Trust Act’ 1882 in 2020 and
                                    serving the people at large irrespective of caste, color and creed for creating
                                    awareness about Anti-Corruption, Human Rights, Consumer Rights, Women and Child
                                    Rights and all-inclusive of social rights.
                                    <br><br>As we known corruption erodes trust, weakens democracy, hampers economic
                                    development and further exacerbates inequality, poverty, social division and the
                                    environmental crisis. Transparency is only the first step to curbing corruption
                                    because seeking and receiving information is a human right that can act as a
                                    safeguard against corruption, and increase trust in decision makers and public
                                    institutions that’s why working for the awareness of eradicating corruption across
                                    the world we are organizing seminar/workshop to educate the people, students against
                                    anti-social activities, corruptions etc.
                                </p>
                            </div>
                           
                        </div>
                    </div>
                </div>
            </div>
            <img src="assets/images/shapes/about-shape-1-2.png" alt="cleenhearts" class="about-one__hand">
        </section>

        <section class="story-one section-space-top cleenhearts-jarallax" data-jarallax data-speed="0.3"
            style="background-image: url('assets/images/backgrounds/story-bg-1-1.jpg');">
            <div class="container">
                <div class="sec-title">


                    <h3 class="sec-title__title">Mission & Vision
                    </h3>
                </div>

                <div class="story-one__tabs-box tabs-box">
                    <div class="tabs-content">
                        <div class="tab active-tab" id="year1992" style="display: block;">
                            <div class="row gutter-y-40">
                                <div class="col-xl-6 animated fadeInLeft" data-wow-duration="1500ms"
                                    data-wow-delay="100ms">
                                    <div class="story-one__image">
                                        <img src="/assets/images/abiut/misiovisio.jpg" alt="story">
                                    </div>
									  <div class="story-one__image">
                                        <img src="/assets/images/abiut/vision.jpg" alt="story">
                                    </div>
                                </div>
                                <div class="col-xl-6 animated fadeInRight" data-wow-duration="1500ms"
                                    data-wow-delay="100ms">
                                    <div class="story-one__content">
                                        <h3 class="story-one__title">Our Mission </h3>                                      
                                        <p class="story-one__text story-one__text--one">To promote and encourage
                                            adoption and application of anti-corruption measures in the world.</p>                                   
                                        <p class="story-one__text story-one__text--two"> </p>                                     
                                        <div class="volunteer-profile">
                                        </div>
                                    </div>
									<div class="story-one__content">
                                        <h3 class="story-one__title">Our Vision </h3>                                      
                                        <p class="story-one__text story-one__text--one">An efficient organization that provides pertinent support to people to fight against corruption and injustice.</p>                                   
                                        <p class="story-one__text story-one__text--two"> </p>                                     
                                        <div class="volunteer-profile">
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="tab" id="year2003" style="display: none;">
                            <div class="row gutter-y-40">
                                <div class="col-xl-6 animated fadeInLeft" data-wow-duration="1500ms"
                                    data-wow-delay="100ms">
                                    <div class="story-one__image">
                                        <img src="/assets/image/1.png" alt="story">
                                    </div>
                                </div>
                                <div class="col-xl-6 animated fadeInRight" data-wow-duration="1500ms"
                                    data-wow-delay="100ms">
                                    <div class="story-one__content">
                                        <h3 class="story-one__title">Our Vision</h3><!-- /.story-one__title -->
                                        <p class="story-one__text story-one__text--one">An efficient organization that
                                            provides pertinent support to people to fight against corruption and
                                            injustice.</p>
                                       
                                        <p class="story-one__text story-one__text--two"></p>
                                       
                                        <div class="volunteer-profile">


                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>


                    </div>
                    <div class="story-one__divider"></div>
                    <div class="tab-buttons">
                        <div class="row gutter-y-20">
                            <div class="col-lg-2 col-sm-4 col-6">
                                <div data-tab="#year1992" class="tab-btn tab-btn--one active-btn wow fadeInUp"
                                    data-wow-delay="00ms" data-wow-duration="1500ms">
                                    <h3 class="tab-btn__text">Mission</h3>
                                </div>
                            </div>
                            <div class="col-lg-2 col-sm-4 col-6">
                                <div data-tab="#year2003" class="tab-btn tab-btn--two wow fadeInUp"
                                    data-wow-delay="200ms" data-wow-duration="1500ms">
                                    <h3 class="tab-btn__text">Vision</h3>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </section>



        <section class="faq-one faq-one--about section-space">
            <div class="faq-one__bg" style="background-image: url('assets/images/backgrounds/faq-bg-2.png');"></div>
           
            <div class="container">
                <div class="row gutter-y-50">
                    <div class="col-xl-6 col-lg-6 wow fadeInLeft" data-wow-duration="1500ms" data-wow-delay="100ms">
                        <div class="faq-one__image">
                            <img src="assets/image/3.png" alt="faq-image">
                        </div>
                    </div>
                    <div class="col-xl-6 col-lg-6">
                        <div class="faq-one__content">
                            <div class="sec-title">
                                <h6 class="sec-title__tagline @@extraClassName">Recently asked questions</h6>
                                
                                <h3 class="sec-title__title">People Are Frequently Asking Some <span
                                        class="sec-title__title__inner">Questions</span></h3>
                            </div>

                            <div class="cleenhearts-accordion wow fadeInUp" data-wow-duration="1500ms"
                                data-wow-delay="100ms" data-grp-name="cleenhearts-accordion">
                                <div class="accordion @@extraClassName">
                                    <div class="accordion-title">
                                        <h4>
                                            How can corruption impact society?
                                            <span class="accordion-title__icon"></span>
                                        </h4>
                                    </div>
                                    <div class="accordion-content">
                                        <div class="inner">
                                            <p>Corruption undermines the rule of law, damages public trust, and hampers
                                                economic development. It leads to inequality, poor public services, and
                                                creates an environment where dishonest individuals or groups benefit at
                                                the expense of the general public.</p>
                                        </div>
                                    </div>
                                </div>
                                <div class="accordion active">
                                    <div class="accordion-title">
                                        <h4>
                                            What is the purpose of this website?
                                            <span class="accordion-title__icon"></span>
                                        </h4>
                                    </div>
                                    <div class="accordion-content">
                                        <div class="inner">
                                            <p>This website is dedicated to raising awareness about corruption,
                                                providing information on how to recognize and report corrupt activities,
                                                and promoting anti-corruption initiatives and transparency in both
                                                government and the private sector.</p>
                                        </div>
                                    </div>
                                </div>
                                <div class="accordion @@extraClassName">
                                    <div class="accordion-title">
                                        <h4>
                                            How can I report corruption?
                                            <span class="accordion-title__icon"></span>
                                        </h4>
                                    </div>
                                    <div class="accordion-content">
                                        <div class="inner">
                                            <p>We encourage individuals to report any corrupt activities they witness.
                                                You can report corruption anonymously through our online reporting tool,
                                                or you may contact your local anti-corruption agency. Make sure to
                                                provide as much information as possible to support your claim.</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>



        <section class="help-people" style="background-image: url('assets/images/backgrounds/help-people-bg-1.png');">
            <div class="container">
                <div class="row">
                    <div class="help-people__images col-xl-6">
                        <div class="help-people__images__inner">
                            <img src="assets/images/help-people/help-people-1-1.png" alt="help-people"
                                class="wow fadeInLeft" data-wow-duration="1500ms" data-wow-delay="800ms">

                            <img src="assets/images/help-people/help-people-1-2.png" alt="help-people"
                                class="wow fadeInLeft" data-wow-duration="1500ms" data-wow-delay="00ms">
                        </div><!-- /.help-people__images__inner -->
                    </div><!-- /.col-xl-6 -->
                    <div class="help-people__content col-xl-6">
                        <div class="help-people__content__inner">
                            <div class="sec-title">

                                <h6 class="sec-title__tagline @@extraClassName">Help people now</h6>
                                <!-- /.sec-title__tagline -->

                                <h3 class="sec-title__title">Fighting Corruption Together <span
                                        class="sec-title__title__inner">About</span></h3><!-- /.sec-title__title -->
                            </div><!-- /.sec-title -->
                            <p class="help-people__text">Corruption doesn't just affect government institutions; it
                                harms families, schools, healthcare systems, and businesses. It steals opportunities,
                                reduces the quality of life, and perpetuates inequality.</p><!-- /.help-people__text -->
                            <div class="help-people__content__bottom">
                                <a href="become-a-volunteer.html" class="cleenhearts-btn">
                                    <div class="cleenhearts-btn__icon-box">
                                        <div class="cleenhearts-btn__icon-box__inner"><span
                                                class="icon-duble-arrow"></span></div>
                                    </div>
                                    <span class="cleenhearts-btn__text">Become A Volunteer</span>
                                </a><!-- /.cleenhearts-btn -->

                            </div><!-- /.help-people__content__bottom -->
                        </div><!-- /.help-people__content__inner -->
                    </div><!-- /.col-xl-6 -->
                </div><!-- /.row -->
            </div><!-- /.container -->
            <div class="help-people__shape">
                <img src="assets/images/shapes/help-people-shape-1.png" alt="help-people"
                    class="help-people__shape__one">
            </div><!-- /.help-people__shape -->
        </section><!-- /.help-people -->



    <script src="/assets/vendors/jquery/jquery-3.7.0.min.js"></script>
	<script src="/assets/vendors/bootstrap/js/bootstrap.bundle.min.js"></script>
	<script src="/assets/vendors/bootstrap-select/bootstrap-select.min.js"></script>
	<script src="/assets/vendors/jarallax/jarallax.min.js"></script>
	<script src="/assets/v/endors/jquery-ui/jquery-ui.js"></script>
	<script src="/assets/vendors/jquery-ajaxchimp/jquery.ajaxchimp.min.js"></script>
	<script src="/assets/vendors/jquery-appear/jquery.appear.min.js"></script>
	<script src="/assets/vendors/jquery-circle-progress/jquery.circle-progress.min.js"></script>
	<script src="/assets/vendors/jquery-magnific-popup/jquery.magnific-popup.min.js"></script>
	<script src="/assets/vendors/jquery-validate/jquery.validate.min.js"></script>
	<script src="/assets/vendors/nouislider/nouislider.min.js"></script>
	<script src="/assets/vendors/tiny-slider/tiny-slider.js"></script>
	<script src="/assets/vendors/wnumb/wNumb.min.js"></script>
	<script src="/assets/vendors/swiper/js/swiper-bundle.min.js"></script>
	<script src="/assets/vendors/owl-carousel/js/owl.carousel.min.js"></script>
	<script src="/assets/vendors/wow/wow.js"></script>
	<script src="/assets/vendors/imagesloaded/imagesloaded.min.js"></script>
	<script src="/assets/vendors/isotope/isotope.js"></script>
	<script src="/assets/vendors/countdown/countdown.min.js"></script>
	<script src="/assets/vendors/jquery-circleType/jquery.circleType.js"></script>
	<script src="/assets/vendors/jquery-lettering/jquery.lettering.min.js"></script>
	<!-- template js -->
	<script src="/assets/js/cleenhearts.js"></script>
</body>
{{>footer}}
</html>