<!DOCTYPE html>

<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
    
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
          <title>ANTI CORRUPTION FOUNDATION OF WORLD</title>
	<!-- favicons Icons -->
	<link rel="apple-touch-icon" sizes="180x180" href="assets/image/logo.png" />
	<link rel="icon" type="image/png" sizes="32x32" href="assets/image/logo.png" />
	<link rel="icon" type="image/png" sizes="16x16" href="assets/image/logo.png" />
	<link rel="manifest" href="assets/images/favicons/site.webmanifest" />
	<meta name="description" content=" " />

	<!-- fonts -->
	<link rel="preconnect" href="https://fonts.googleapis.com/">
	<link rel="preconnect" href="https://fonts.gstatic.com/" crossorigin>
	<link
		href="https://fonts.googleapis.com/css2?family=DM+Sans:opsz,wght@9..40,400;9..40,500;9..40,600;9..40,700;9..40,800&amp;display=swap"
		rel="stylesheet">
	<link href="https://fonts.googleapis.com/css2?family=Quicksand:wght@500;600;700&amp;display=swap" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css2?family=Castoro&amp;display=swap" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css2?family=Schoolbell&amp;display=swap" rel="stylesheet">


	<link rel="stylesheet" href="/assets/vendors/bootstrap/css/bootstrap.min.css" />
	<link rel="stylesheet" href="/assets/vendors/bootstrap-select/bootstrap-select.min.css" />
	<link rel="stylesheet" href="/assets/vendors/animate/animate.min.css" />
	<link rel="stylesheet" href="/assets/vendors/fontawesome/css/all.min.css" />
	<link rel="stylesheet" href="/assets/vendors/jquery-ui/jquery-ui.css" />
	<link rel="stylesheet" href="/assets/vendors/jarallax/jarallax.css" />
	<link rel="stylesheet" href="/assets/vendors/jquery-magnific-popup/jquery.magnific-popup.css" />
	<link rel="stylesheet" href="/assets/vendors/nouislider/nouislider.min.css" />
	<link rel="stylesheet" href="/assets/vendors/nouislider/nouislider.pips.css" />
	<link rel="stylesheet" href="/assets/vendors/tiny-slider/tiny-slider.css" />
	<link rel="stylesheet" href="/assets/vendors/cleenhearts-icons/style.css" />
	<link rel="stylesheet" href="/assets/vendors/swiper/css/swiper-bundle.min.css" />
	<link rel="stylesheet" href="/assets/vendors/owl-carousel/css/owl.carousel.min.css" />
	<link rel="stylesheet" href="/assets/vendors/owl-carousel/css/owl.theme.default.min.css" />

	<!-- template styles -->
	<link rel="stylesheet" href="/assets/css/cleenhearts.css" />
</head>
{{>header}}
    <body>

  <section class="page-header @@extraClassName">
            <div class="page-header__bg"
                style="background-image: url('assets/images/backgrounds/page-header-bg-1-1.jpg');"></div>
            <!-- /.page-header__bg -->
            <div class="container">
                <h2 class="page-header__title">Services</h2>
                <ul class="cleenhearts-breadcrumb list-unstyled">
                    <li><i class="icon-home"></i> <a href="/">Home</a></li>
                    <li><span>Services</span></li>
                </ul><!-- /.thm-breadcrumb list-unstyled -->
            </div><!-- /.container -->
        </section><!-- /.page-header -->

<section class="events-list-page py-5" style="font-family: 'Poppins', sans-serif;">
  <div class="container">
    <div class="row g-4">
      <!-- Box 1 -->
      <div class="col-md-6">
        <div class="custom-card animate__animated animate__fadeInUp">
          <p>
            i) To encourage the public at large for creating awareness about Anti-Corruption, Human Rights, Consumer Rights, Women and Child Rights and all-inclusive of social rights.
          </p>
        </div>
      </div>

      <!-- Box 2 -->
      <div class="col-md-6">
        <div class="custom-card animate__animated animate__fadeInUp animate__delay-1s">
          <p>
            ii) To help law enforcement bodies, public authorities and local government authorities in fight against corruption.
          </p>
        </div>
      </div>
    </div>
    <div class="row g-4">
      <!-- Box 1 -->
      <div class="col-md-6">
        <div class="custom-card animate__animated animate__fadeInUp">
          <p>
          iii) To help in development of partnership
                                    and cooperation between law enforcement bodies other government agencies, economic
                                    entities and individuals focused on help in fight against corruption and organized
                                    criminality</p>
        </div>
      </div>

      <!-- Box 2 -->
      <div class="col-md-6">
        <div class="custom-card animate__animated animate__fadeInUp animate__delay-1s">
          <p>
           iv) help in disclosure of information
                                    regarding information security, to coordinate efforts of Organization members for
                                    the joint activity with law enforcement bodies / sector of information security and
                                    implementation of relevant activity:   </p>
        </div>
      </div>
    </div>
    <div class="row g-4">
      <!-- Box 1 -->
      <div class="col-md-6">
        <div class="custom-card animate__animated animate__fadeInUp">
          <p>
           v) To submit suggestions arising from
                                    activity of Organization to the government and control authorities. </p>
        </div>
      </div>

      <!-- Box 2 -->
      <div class="col-md-6">
        <div class="custom-card animate__animated animate__fadeInUp animate__delay-1s">
          <p>
          vi) To promote interdependence among
                                    countries in all areas of cooperation by identifying country’s common strengths and
                                    opportunities which will help reduce poverty and improve the quality of life for
                                    people whilst developing a knowledge-based society within country and enhancing
                                    community and people empowerment;  </p>
        </div>
      </div>
    </div>
    <div class="row g-4">
      <!-- Box 1 -->
      <div class="col-md-6">
        <div class="custom-card animate__animated animate__fadeInUp">
          <p>
           vii) To ultimately transform the continent
                                    into community, capable of interacting with the rest of the world on a more equal
                                    footing and contributing more positively towards mutual peace and prosperity. </p>
        </div>
      </div>

      <!-- Box 2 -->
      <div class="col-md-6">
        <div class="custom-card animate__animated animate__fadeInUp animate__delay-1s">
          <p>
           viii) To work to bring back people engaged in
                                    anti-social activities to join them with peace loving democratic system. </p>
        </div>
      </div>
    </div>
  </div>
</section>




<style>
   .custom-card {
  background: #ffffff;
  border-radius: 15px;
  box-shadow: 0 8px 30px rgba(0, 0, 0, 0.1);
  padding: 25px;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  border-left: 5px solid #0d6efd;
  font-size: 16px;
}

.custom-card:hover {
  transform: translateY(-8px);
  box-shadow: 0 15px 35px rgba(0, 0, 0, 0.2);
  border-left-color: #6610f2;
}


</style>

      
              


             




    <script src="/assets/vendors/jquery/jquery-3.7.0.min.js"></script>
	<script src="/assets/vendors/bootstrap/js/bootstrap.bundle.min.js"></script>
	<script src="/assets/vendors/bootstrap-select/bootstrap-select.min.js"></script>
	<script src="/assets/vendors/jarallax/jarallax.min.js"></script>
	<script src="/assets/v/endors/jquery-ui/jquery-ui.js"></script>
	<script src="/assets/vendors/jquery-ajaxchimp/jquery.ajaxchimp.min.js"></script>
	<script src="/assets/vendors/jquery-appear/jquery.appear.min.js"></script>
	<script src="/assets/vendors/jquery-circle-progress/jquery.circle-progress.min.js"></script>
	<script src="/assets/vendors/jquery-magnific-popup/jquery.magnific-popup.min.js"></script>
	<script src="/assets/vendors/jquery-validate/jquery.validate.min.js"></script>
	<script src="/assets/vendors/nouislider/nouislider.min.js"></script>
	<script src="/assets/vendors/tiny-slider/tiny-slider.js"></script>
	<script src="/assets/vendors/wnumb/wNumb.min.js"></script>
	<script src="/assets/vendors/swiper/js/swiper-bundle.min.js"></script>
	<script src="/assets/vendors/owl-carousel/js/owl.carousel.min.js"></script>
	<script src="/assets/vendors/wow/wow.js"></script>
	<script src="/assets/vendors/imagesloaded/imagesloaded.min.js"></script>
	<script src="/assets/vendors/isotope/isotope.js"></script>
	<script src="/assets/vendors/countdown/countdown.min.js"></script>
	<script src="/assets/vendors/jquery-circleType/jquery.circleType.js"></script>
	<script src="/assets/vendors/jquery-lettering/jquery.lettering.min.js"></script>
	<script src="/assets/js/cleenhearts.js"></script>
</body>
{{>footer}}
</html>